/* ========= Reset ========= */

:root{
  --azul-prefeitura: #0e61a6;
  --azul-escuro: #325187;
  --azul-claro: #ACCEEA;
  --preto: #000000;
  --cinza: #4F4F4F;
  --gelo: #f3f3f3;
  --branco: #ffffff;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 0;
}

html{
  font-size: 62.5%;
}

.container{
  width: 1280px;
  margin: 0 auto;
}

body{
  font-size: 1.6rem;
  background: var(--gelo);
}

section, footer{
  margin-top: 8rem;
}

/* ========= Titles ========= */

h1, h2, h3, h4, a, button{
  font-weight: 700;
}

h1{  
  font-size: 4.8rem;
}

h2{
  color: var(--azul-escuro);
  text-align: center;
  font-size: 3.6rem;
}

h3{
  color: var(--azul-escuro);
  font-size: 2.4rem;
}

h4{
  color: var(--preto);
  font-size: 1.8rem;
}

.subtitulo{
  font-weight: 400;
  font-size: 1.8rem;
}

p{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.3rem;  
}

a{
  font-size: 1.4rem;  
  cursor: pointer;
}

/* ========= Buttons ========= */

.button-full-white{
  color: var(--azul-escuro);
  padding: 1.6rem 6rem;
  border-radius: 0;
  background-color: var(--branco);
  cursor: pointer;
}

.button-full-white:hover{
  color: var(--branco);
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2px var(--branco);  
}

.button-stroke-blue{
  color: var(--azul-escuro);
  padding: 1.6rem 6rem;  
  border: solid 2px var(--azul-escuro);
  cursor: pointer;
}

.button-stroke-blue:hover{  
  color: var(--branco);
  padding: 1.6rem 6rem;
  background-color: var(--azul-escuro);
}

/* ========= Barra de Navegação ========= */

header{  
  position: fixed;
  width: 100%;
  top: 0;  
  padding: 2rem 0;
  background-color: var(--branco);
}

header div.container{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo{
  width: 100%;
}

.link-header{
  color: var(--preto);
}

.link-header:hover{  
  color: var(--azul-prefeitura);  
}

.paginaAtual{
  color: var(--azul-prefeitura);
}

div.container nav ul li{
  display: inline-block;
  padding: 0 0 0 2.5rem;
}

.dropdown-button {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  padding-top: 3.3rem;
  position: absolute;  
  min-width: 250px;  
  z-index: 1;
  background-color: var(--branco);
}

.dropdown-content a{
  color: var(--preto);
  padding: 1.2rem 1.6rem;
  display: block;
}

.dropdown-content a:hover{
  color: var(--branco);
  background-color: var(--azul-escuro);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ========= Section Introdução ========= */

#intro{
  margin-top: 85px;
  padding: 14rem 0;
  background-color: var(--azul-prefeitura);  
}

#intro div.container{
  display: flex;
  justify-content: space-between;
}

.conteudo-intro{
  color: var(--branco);
  width: 55%;
}

.conteúdo-intro p{
  color: var(--branco);
}

.conteudo-intro p{
  margin: 2rem 0 4rem 0;
}

/* ========= Section Aniversariantes do Mês ========= */

.aniversariantes{
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
}

.aniversariante{
  display: flex;  
}

.infoAniversariante{
  margin: auto 0 auto 20px;
}

/* ========= Section Footer ========= */

footer{
  text-align: center;
}

.links-footer{
  padding: 4rem;
  background: var(--azul-prefeitura);
}

.links-footer div.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-footer img{
  width: 100%;
}

.link-footer{
  color: var(--branco);
  margin: 2rem 0;
  display: block;
}

.link-footer:hover{
  color: var(--preto);
}

.copy{
  color: var(--branco);
  padding: 3rem;
  background: var(--azul-escuro);
}

/* ========= Section Avisos ========= */

#avisos{
  text-align: center;
}

.avisos{
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 8rem;
  margin: 8rem 0;
}

.imagem-aviso{
  max-width: 100%;
}

.conteudo-aviso{ 
  width: 100%; 
  padding-top: 2rem;
}

.paragrafo-avisos{  
  margin: 1rem 0 2rem 0;
}

/* ========= Section modelo aviso ========= */

.texto-aviso{
  margin-top: 16rem;
}

.texto-aviso h1{
  text-align: center;
  color: var(--azul-escuro);
}

.paragrafo{
  margin-top: 8rem;
  color: var(--cinza);
}

.paragrafo p{
  margin-top: 2rem;
  color: var(--cinza);
}

/* ========= Section Links Úteis ========= */

#links-uteis{
  text-align: center;
}

.links-uteis{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 8rem;
  margin: 8rem 0;
}

.link-util{
  background-color: var(--branco);
}

.img-link{
  width: 100%;
}

.conteudo-link{
  margin: auto auto;
  width: 90%;
  padding: 4rem 2rem;
}

.conteudo-link h3{
  height: 6rem;
}

.paragrafo-link{
  margin: 2rem 0;
}


/* ========= Section Ramais ========= */

.titulo{
  margin-top: 8rem;
  padding: 2.5rem;
  background: var(--azul-prefeitura);
}

.titulo h3{
  color: var(--branco);
  text-align: center;
}

.ramais{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.card-ramal{
  padding: 2rem;
  background-color: var(--branco);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

/* ========= Section Downloads ========= */

.cards-download{
  margin-top: 8rem;
}

.card-download{
  background: var(--branco);
  padding: 3rem;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

.info-card{
  margin-right: 2rem;
}

/* ========= Section Nossa Equipe ========= */

.membros{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.titulo-nivel-1{
  margin-top: 8rem;
  padding: 2.5rem;
  background: var(--azul-escuro);
}

.titulo-nivel-1 h3{
  text-align: center;
  color: var(--branco);
}

.titulo-nivel-2{
  margin-top: 2rem;
  padding: 2rem;
  background: var(--azul-prefeitura);
}

.titulo-nivel-2 h4{
  text-align: center;
  color: var(--branco);
}

.titulo-nivel-3{
  margin-top: 2rem;
  padding: 1rem 0;  
  color: var(--cinza);
  background: var(--azul-claro);
}

.titulo-nivel-3 h4{
  text-align: center;  
  font-weight: 400;  
}

.card-membro h4{
  margin: 0 0 0.5rem 0;
}

.card-membro{
  background: var(--branco);
  padding: 2.5rem 2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
}

/* ========= responsivo ========= */

@media (max-width: 1350px){

  html{
    font-size: 57%;
  }

  .container{
    width: 90%;
  }  

  .ramais{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }


}

@media (max-width: 1100px){

  html{
    font-size: 55%;
  }

  .logo{
    width: 80%;
  }  

  .avisos{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 8rem;
    margin: 8rem 0;
  }

  .links-uteis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    row-gap: 8rem;
    margin: 8rem 0;
  }

  .img-footer img{
    width: 80%;
  }

}

@media (max-width: 1000px){
  .aniversariantes{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 4rem;
  }
}

@media (max-width: 720px){ 

  .avisos{
    text-align: center;
    display: block;    
    margin-top: 8rem 0;
  }

  .aviso{
    margin: 8rem auto 0 auto;
    max-width: 70%;
  }

  .links-uteis{
    display: grid;
    grid-template-columns: 70%;
    column-gap: 6rem;
    row-gap: 8rem;
    margin: 8rem 0;
  }

  .ramais{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }


}

@media (max-width: 610px){
  .aniversariantes{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 6rem;
    row-gap: 4rem;
  }

  .aniversariante{
    display: block;
    text-align: center;
  }
}