.header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  background-color: var(--branco);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}

.linkHeader span {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--preto);
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

.linkHeader.active span {
  color: var(--azul-prefeitura);
}

.linkHeader span:hover {
  color: var(--azul-prefeitura);
}

@media (max-width: 900px) {
  .navLinks {
    display: none;
  }
}
