.downloadsList{
  margin-bottom: 8rem;
  table-layout: fixed;
  border-spacing: 0 1rem;
}

.titleDownloads{
  margin: 8rem 0;
  font-size: 3.6rem;
  text-align: center;
  color: var(--azul-prefeitura);
}

.downCabecalhoItem{
  padding: 1.5rem;  
  background-color: var(--branco);
  text-align: left;
}

.downArquivo{
  border-radius:  1rem 0 0 1rem;
  width: 50%;
}

.downData{
  width: 20%;
}

.downTamanho{
  width: 20%;
}

.downLink{
  width: 10%;
  border-radius:  0 1rem 1rem 0;
}

.arquivoDownItems{
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s;
}

.arquivoDownItems:hover{
  background-color: rgba(255,255,255, 1);
}

.arquivoDownItem{
  padding: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.arquivoDownItem.title{
  border-radius:  1rem 0 0 1rem;
  font-weight: 500;
}

.arquivoDownItem.link{
  display: flex;
  justify-content: center;
  border-radius:  0 1rem 1rem 0;
  font-weight: 500;
}

.arquivoDownItem.link a{
  display: flex;
}