.footer {
  margin-top: 8rem;
  background-color: var(--azul-prefeitura);
}

.logoSalturFooter {
  grid-area: logoSaltur;
}

.colunaDeLinks.one {
  grid-area: colunaOne;
}
.colunaDeLinks.two {
  grid-area: colunaTwo;
}
.logoNTI {
  grid-area: LogoNti;
}

.gridFooter {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
  grid-template-areas: 'logoSaltur colunaOne colunaTwo LogoNti';
}

.logoSalturFooter,
.colunaDeLinks {
  margin: auto 0;
}


.logoNTI {
  margin: auto 0 auto auto;
}

.colunaDeLinks {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.linkFooter {
  height: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--branco);
  width: max-content;
}

.linkFooter:hover {
  border-bottom: inset 2px var(--branco);
}

.copy {
  padding: 2.5rem 0;
  background-color: var(--azul-escuro);
}

.textCopy {
  color: var(--branco);
  text-align: center;
}

@media (max-width: 900px) {
  .gridFooter {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    grid-template-areas:
      'logoSaltur colunaOne'
      'LogoNti colunaTwo ';
  }

  .logoSalturFooter,
  .logoNTI {
    margin: 0 auto auto 0;
  }
}

@media (max-width: 500px) {
  .gridFooter {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    grid-template-areas:
      'logoSaltur logoSaltur'
      'LogoNti LogoNti'
      'colunaOne colunaOne '
      'colunaTwo colunaTwo ';
  }

  .logoSalturFooter,
  .logoNTI,
  .colunaDeLinks {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}
